# Coding Temple's Data Analytics Course
---
## Python I: Variable Assignment, Loops, Lists
---

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
number

6

##### Assinging float

In [2]:
number_float = 2.3
number_float

2.3

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num_1 = 2
num_2 = 5.4

#This is one way in which we can perform addition to two different numbers in Python
result = num_1 + num_2
print(result)

#There is also a Pythonic way of doing this:
result += num_2
print(result)

7.4
12.8

##### Subtraction

In [10]:
#subtraction uses the (-) operand
result_diff =num_2 - num_1
print(result_diff)

#Pythonic version
result_diff -= 1 #result_diff = result_diff-1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [11]:
result_mult = num_1 * num_2
print(result_mult)

#Pythonic version:
result_mult *= 2
print(result_mult)

10.8
21.6

##### Division

In [13]:
result_div = num_2 /num_1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [16]:
result_floor = num_2 // num_1

result_floor //= 2
print(result_floor)
result_ceiling = result_floor + 1
print(result_ceiling)

1.0
2.0

##### Modulo

In [18]:
result_mod = num_2 % num_1
print(result_mod)
print(round(result_mod))

1.4000000000000004
1

##### Exponential

In [20]:
squared = 5**2
print(squared)

#pythonic
squared **= 2
print(squared)

25
625

### String Input-Output

##### String Assignment

In [21]:
name = 'This is Python.'
print(name)

name = "This is Python. It's great."
print(name)

name = 'This is Python. It\'s great.'

This is Python.
This is Python. It's great.

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
name = "Lisa"
print("This is my first name: ")
print("Full name:", name , end=' \n')

This is my first name:
Full name: Lisa

##### String Concatenation

In [25]:
first_name = 'lisa'
last_name = 'tosti'
full_name = first_name + ' ' + last_name
print(full_name.title())

#Pythonic
full_name += ' Jr.'

Lisa Tosti

##### Type Conversion

In [28]:
number = '32'
print(type(number))
number = int(number)
print(type(number))
number += 23
print(number)

<class 'str'>
<class 'int'>
55

##### input()

In [3]:
#Input is a function. It asks for input in the terminal
name = input("What is your name?")
print(name)

#import thing to note:
# Input always poutputs a stirng object!
age = int(input("What is your age?"))
print(age)

Lee
38

##### format()

In [4]:
age = int(input("What is your age? "))
result_str = "You are {} {} and you are getting wiser!".format(age, name)
print(result_str)

#f-string
result_again = f'{age} is a great time in life!'
print(result_again)

You are 38 Lee and you are getting wiser!
38 is a great time in life!

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [9]:
# Uses input function to ask for color, year, make, and model of vehicle.
# Then, you will use a .format() or f-string to print those values back to your user.
#Understand
#Input for color, year, make, model
#Output is f-string that prints those values

#Plan
#Define function as def car(color, year, make, model)
#Return f-string of values
#Print function

def car(color, year, make, model):
    return f"This is my car's information: {color.title()}, {int(year)}, {make.title()}, {model.title()}"

print(car('blue', '1995', 'Honda', 'Civic'))

This is my car's information: Blue, 1995, Honda, Civic

### If Statements

In [14]:
#Available operands: >, <, ==. >=, <=

#Truth Tree
# T & F = F
# T && T = T
# T || F = T
# T | F = F

num_1 = 5
num_2 = 10

if num_2 == num_1:
    print('Equal Values')
else:
    print('Not Equal')

if num_2 > num_1 & num_1 < 20:
    print("Low Number")

if num_2 < num_1 | num_2 < 20:
    print("Pass")

Not Equal
Low Number
Pass

##### 'is' keyword

In [13]:
# used when we check if something is the same/similar to an object.
num_3 = 55

if num_3 is 55:
    print("This is the exact number/object.")

This is the exact number/object.

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/wv/wddzdb5s2hb240fq0zrq7d240000gn/T/ipykernel_5467/1434128174.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num_3 is 55:

##### 'in' keyword

In [15]:
char_name = "Max Payne"

if 'Max' in char_name:
    print('The character who lost everything.')

The character who lost everything.

##### 'not in' keyword'

In [18]:
char_list = [char_name, "Sonic", 'Tails', 'Knuckles']

name = input('character name: ')
if name not in char_list:
    print(f" The character named {name} is not present in this list.")
else: 
    print(f"Here is the character you asked for: {name}")

Here is the character you asked for: Tails

# In-Class Exercise 2 <br>
<p>Ask a user for input, check to see if the letter 'p' is in the input</p>

In [26]:
#U - Input - string, Output - whether p is in the string
#P - Check if letter in string contains p

def sol(string):
    if 'p' in string.lower():
        return True
    else:
        return False

def city_p(city):
    return 'p' in city.lower()
    
print(sol('Pie'))
print(sol('apple'))
print(sol('POMPOM'))
print(sol('banana'))
print(city_p('Philadelphia'))
print(city_p("Chicago"))

True
True
True
False
True
False

## Using 'and'/'or' with If Statements

In [27]:
num_1 = 15
num_2 = 3
num_3 = 10
num_4 = 3

if num_1 / 5 == num_2 & num_3 - 7 == num_4:
    print("True and True")

True and True

### Elif Statements

In [29]:
first_name = 'Lee'

if first_name == 'Katie':
    print("Your name is Katie!")
elif first_name != 'Lee':
    print("Your name is not Lee.")
else:
    print("Your name is Lee")

Your name is Lee

### Else Statements

In [ ]:
#see above

### For Loops

In [33]:
# Iterables: is anything that can be parsed over in smaller chuncks. 
# We can break a word down into individual letters.
# We can break lists down into individual words

name = 'Lee Tosti'

for letter in char_list:
    print(letter)

for index_pos in range(len(name)):
    print(name[index_pos])

Max Payne
Sonic
Tails
Knuckles
L
e
e

T
o
s
t
i

##### Continue Statement

In [38]:
# Continues to the next iteration, bypassing any other values or actions in which you would want to take
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [37]:
#Will break out of the current loop it is present in:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [39]:
# mostly used as a placeholder and will contine on to the same iteration:
for i in name:
    pass # TODO: COME BACK AND FINISH

def repleacement_rows_in_database(info):
    # TODO Write out a function that can replace rows in DB
    pass

##### Double For Loops

In [40]:
#Nest inside loops

for i in range(5):
    for j in range(5):
        print('i = ', 'j = ', j)

i =  j =  0
i =  j =  1
i =  j =  2
i =  j =  3
i =  j =  4
i =  j =  0
i =  j =  1
i =  j =  2
i =  j =  3
i =  j =  4
i =  j =  0
i =  j =  1
i =  j =  2
i =  j =  3
i =  j =  4
i =  j =  0
i =  j =  1
i =  j =  2
i =  j =  3
i =  j =  4
i =  j =  0
i =  j =  1
i =  j =  2
i =  j =  3
i =  j =  4

### While Loops

In [41]:
# While keyword, conditional statement
# Based on conditional statement, the lopp will either continue or stop

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [42]:
game_over = False

while True:
    print('Infinite Loop')
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [44]:
num = 0

while num < 5:
    print("\nWhile Loop Iteration #:", num)

    for i in range(2):
        print('For Loop Iteration #:', i)
    
    num += 1

While Loop Iteration #: 0
For Loop Iteration #: 0
For Loop Iteration #: 1

While Loop Iteration #: 1
For Loop Iteration #: 0
For Loop Iteration #: 1

While Loop Iteration #: 2
For Loop Iteration #: 0
For Loop Iteration #: 1

While Loop Iteration #: 3
For Loop Iteration #: 0
For Loop Iteration #: 1

While Loop Iteration #: 4
For Loop Iteration #: 0
For Loop Iteration #: 1

### Built-In Functions

##### range()

In [45]:
#Start, stop, step

#The start is inferred at the value of 0, the step is inferred as the value of 1

#range(5) -> [0, 1, 2, 3, 4]
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [46]:
name_length = len(name)
print(len(name))

char_list_len = len(char_list)
print(char_list_len)

9
4

##### help()

In [47]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [49]:
# isinstance(var, type)

isinstance(4.5, int)

if isinstance(4.5, float):
    print("This number is definitely a floating point value.")

This number is definitely a floating point value.

##### abs()

In [51]:
#absolute value which is the positive
print(abs(-5))
print(-abs(10))

5
-10

### Try and Except

In [52]:
try:
    number_test = 0
    input_num = int(input("Guess a number!"))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: " + str(input_num))
except:
    print("Oh man! That didn't work...ERROR: Change your input value to a number!")

### Lists

##### Declaring Lists

In [53]:
#1-D data structure. 1-D means that there is a magnitude, or a caliber of existence on the X-axis, however, there is no y.
# Declare an empty using square brackets:
list_1 = []

#Alternateively, you can declare using a list() function:
list_2 = list()

names = ['Alex', 'Andy', 'Randall', 'Katie', 'Kali']
print(names)

['Alex', 'Andy', 'Randall', 'Katie', 'Kali']

##### Indexing a List

In [57]:
# [start: stop: step]

print(names[0])

print(names[1:])

print(names[:2])

print(names[1::2])

print(names[::-1])

print(names[-3:])

Alex
['Andy', 'Randall', 'Katie', 'Kali']
['Alex', 'Andy']
['Andy', 'Katie']
['Kali', 'Katie', 'Randall', 'Andy', 'Alex']
['Randall', 'Katie', 'Kali']

##### .append()

In [58]:
names.append('Lee')
print(names)

['Alex', 'Andy', 'Randall', 'Katie', 'Kali', 'Lee']

##### .insert()

In [63]:
names.sort()
names

names.insert(2, "James")
names

['Alex', 'Andy', 'James', 'James', 'Kali', 'Katie', 'Lee', 'Randall']

##### .pop()

In [65]:
names.pop(2)
names

removed_name = names.pop(4)
print(removed_name)
print(names)

Lee
['Alex', 'Andy', 'Kali', 'Katie', 'Randall']


##### .remove()

In [71]:
#Remove all multiples out of this list:
#By default, .remove() removes only the first instance of the value you give it
#Values to be removed, not index positions!

#use a while loop to take out all instances
while 'bob' in names:
    names.remove('bob')
print(names)

['Alex', 'Andy', 'Kali', 'Katie', 'Randall']

##### del()

In [72]:
del(names[1])
print(names)

['Alex', 'Kali', 'Katie', 'Randall']

##### Concatenating Two Lists

In [73]:
#add values or list together
list_2 = [0,1,2]
list_3 = [3,4,5]
list_2 + list_3

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [74]:
# lists are able to house any and all data types at one time. This includes other data stores. Other lists, other dictionaries, sets, etc.
# these can next as deep as you want
names = ["Max", 23, 2.4937489554, ['Sally', 28, 4.038295749, ['Nintendo']]]
print(names)
print(names[0])
print(names[3][0])
print(names[3][3][0])

['Max', 23, 2.4937489554, ['Sally', 28, 4.038295749, ['Nintendo']]]
Max
Sally
Nintendo

##### Looping Through Lists

In [76]:
# We can loop through using the two methods we learned earlier: Index position, the values
#Loop through with an index accessor:

for index in range(len(names)):
    print(names[index])

#Loop through with a for loop, accessing each value individually:
for value in names:
    print(value)

Max
23
2.4937489554
['Sally', 28, 4.038295749, ['Nintendo']]
Max
23
2.4937489554
['Sally', 28, 4.038295749, ['Nintendo']]