# Coding Temple's Data Analytics Course
---
## Python I: Functions, Scoping, Data Collections 1 & List Comprehensions
---

### Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [4]:
name = '       hLee'
print(name.lstrip(" " "h"))

Lee

##### .rstrip()

In [5]:
name = 'Bob Ross       fjdklaj'
print(name.rstrip(' ' 'fjdklaj'))

Bob Ross

##### .strip()

In [9]:
name = '     Taylor Swift     eh'
print(name.strip(' ' 'eh'))

Taylor Swift

#### .upper()
#### .lower()

In [10]:
name = "Taylor Swift"
print(name.upper())
print(name.lower())

TAYLOR SWIFT
taylor swift

##### .title()

In [11]:
name = "Harry Styles"
print(name.title())

Harry Styles

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [20]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
names_list = []
for name in names:
    names_list.append(name.strip().title())

print(names_list)

for name in names_list:
    print(name)

for index, name in enumerate(names_list):
    print(index, name)

['Connor', 'Max', 'Evan', 'Jordan']
Connor
Max
Evan
Jordan
0 Connor
1 Max
2 Evan
3 Jordan

### Working With Lists

##### min()

In [21]:
num_list = [4,6,8,9,1]
print(min(num_list))

1

##### max()

In [23]:
print(max(num_list))

9

##### sum()

In [24]:
print(sum(num_list))

28

##### sorted()

In [26]:
#sorted(list_object)
print(num_list)

sorted(num_list)

print(num_list)

sorted_nums = sorted(num_list)

print(f"Before sorting: {num_list}\nAfter sorting: {sorted_nums}")

[4, 6, 8, 9, 1]
[4, 6, 8, 9, 1]
Before sorting: [4, 6, 8, 9, 1]
After sorting: [1, 4, 6, 8, 9]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [29]:
num_list.sort()

print(num_list)

num_list.sort(reverse=True)

print(num_list)

[1, 4, 6, 8, 9]
[9, 8, 6, 4, 1]

##### Copying a List

In [31]:
#[:] copies a list
list_1 = num_list[:]
print(list_1)
print(num_list)

[9, 8, 6, 4, 1]
[9, 8, 6, 4, 1]

##### 'in' keyword

In [30]:
ct_teachers = ['Alex', 'Katie', 'Sarah', 'Shay', 'Kevin']

#use the in keyword to check if a name is in a list:
#This is one use-case, but is super useful for all 1-D checks
if 'Whitney' in ct_teachers:
    print('Whitney is now an instructor!')
else:
    print('Whitney is a student!')

Whitney is a student!

##### 'not in' keyword

In [33]:
if "James" not in ct_teachers:
    print("James is a student.")

James is a student.

##### Checking an Empty List

In [35]:
list_2 = []
#anything with an empty value will come back as True 
if not list_2:
    print("This is an empty list!")

list_3 = ["Matt", 'Lisa']
if list_3 is not None:
    print(list_3)

This is an empty list!
['Matt', 'Lisa']

##### Removing Instances with a Loop

In [53]:
names = ['Lisa', 'Matt', 'Sirius', 'Charm', 'Rufio', 'Munchkin']
adopted = []
while 'Charm' in names:
    adopted.append('Charm')
    names.remove('Charm')
print(names)

for name in names:
    if name == 'Munchkin':
        adopted.append(name)
        names.remove('Munchkin')
print(names)
print(adopted)

['Lisa', 'Matt', 'Sirius', 'Rufio', 'Munchkin']
['Lisa', 'Matt', 'Sirius', 'Rufio']
['Charm', 'Munchkin']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [52]:
names_1 = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make this easier!
names_2 = []
def sol(dup_list):
    new_list = []
    for name in dup_list:
        if name not in new_list:
            new_list.append(name)
    return new_list

print(sol(names_1))

def sol(lst):
    return [name for name in lst if name.count() < 1]

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [55]:
nums = []

for val in range(200):
    nums.append(val)

print(nums)

#Shorter method
#use list comprehension
#In list comp, we have a few different pieces:
#First is counter/variable. (Because )
#Next step is the iterator. This is tyopically a for loop
#You can then add conditional statements
nums_comp = [val**2 for val in range(200) if val % 2 == 0]
print(nums_comp)
#if number if even, add the square of the number to our list with our range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000, 10404, 10816, 11236, 11664, 12100, 12544, 12996, 13456, 13924, 14400, 14884, 15376, 15876, 16384, 16900, 17424, 17956, 18496, 19044, 19600, 20164, 20736, 21316, 21904, 22500, 23104, 23716, 24336, 24964, 25600, 26244, 26896, 27556, 28224, 28900, 29584, 30276, 30976, 31684, 32400, 33124, 33856, 34596, 35344, 36100, 36864, 37636, 38416, 39204]

In [ ]:
#another example
#names_list = [name.strip().title() for name in names if name.upper()]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [58]:
nums_comp = [val**2 if val % 2 == 0 else 0 for val in range(200)]
print(nums_comp)

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0, 100, 0, 144, 0, 196, 0, 256, 0, 324, 0, 400, 0, 484, 0, 576, 0, 676, 0, 784, 0, 900, 0, 1024, 0, 1156, 0, 1296, 0, 1444, 0, 1600, 0, 1764, 0, 1936, 0, 2116, 0, 2304, 0, 2500, 0, 2704, 0, 2916, 0, 3136, 0, 3364, 0, 3600, 0, 3844, 0, 4096, 0, 4356, 0, 4624, 0, 4900, 0, 5184, 0, 5476, 0, 5776, 0, 6084, 0, 6400, 0, 6724, 0, 7056, 0, 7396, 0, 7744, 0, 8100, 0, 8464, 0, 8836, 0, 9216, 0, 9604, 0, 10000, 0, 10404, 0, 10816, 0, 11236, 0, 11664, 0, 12100, 0, 12544, 0, 12996, 0, 13456, 0, 13924, 0, 14400, 0, 14884, 0, 15376, 0, 15876, 0, 16384, 0, 16900, 0, 17424, 0, 17956, 0, 18496, 0, 19044, 0, 19600, 0, 20164, 0, 20736, 0, 21316, 0, 21904, 0, 22500, 0, 23104, 0, 23716, 0, 24336, 0, 24964, 0, 25600, 0, 26244, 0, 26896, 0, 27556, 0, 28224, 0, 28900, 0, 29584, 0, 30276, 0, 30976, 0, 31684, 0, 32400, 0, 33124, 0, 33856, 0, 34596, 0, 35344, 0, 36100, 0, 36864, 0, 37636, 0, 38416, 0, 39204, 0]

In [59]:
#String comprehension
names = ['Taylor', 'Harry', 'Olivia', 'Kelly']

first_char = []

for name in names:
    first_char.append(name[0])

print(first_char)

n = [name[0] for name in names]
print(n)

['T', 'H', 'O', 'K']
['T', 'H', 'O', 'K']

In [67]:
#Using the 'if' statement
#Grab each name if it starts with the letter 'C'ArithmeticError
names = ['Taylor', 'Harry', 'Olivia', 'Kelly']
h_names_reg = []
for first_name in names:
    if first_name[1] == 'H':
        h_names_reg.append(first_name)
print(h_names_reg)

h_names_reg_names_reg = [first_name for first_name in names if first_name[1].lower() =='h']
print(h_names_reg)

[]
[]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

##### sorted()

In [68]:
tup_3 = (20, 5, 1,3,9,45)
sorted_tup = sorted(tup_3)
print(sorted_tup)
print(tuple(sorted_tup))

[1, 3, 5, 9, 20, 45]
(1, 3, 5, 9, 20, 45)

##### Adding values to a Tuple

In [ ]:
tup_1 = (1,2,3)
print(tup_1)
tup_1 = tup_1 + (5,)
#the comma is needed because otherwise it will view it as an interger, not a tuple

## Functions

##### User-Defined vs. Built-In Functions

In [72]:
#def tells python that you are about to define a function
# function name: after def keyword, we give life to our function by naming it (use sname case)
#invoking parenthesis: used after function call and after the nameing of a function
#inside them, go any parameters we want to take into account for our function
#Parameters is a fancy word for variables

# USER DEFINED FUNCTION

def say_hi():
    return 'Hi, World!'

print(say_hi())

def say_hello(name):
    return f'Hello {name}!'

say_hello('Lee')

Hi, World!

'Hello Lee!'

##### Accepting Parameters

In [73]:
#One thing to note, is that order matters.
#Whatever order you place your variables in, you should expect your user to enter in the same order!

def print_full_name(first_name, last_name):
    return f'Hello {first_name} {last_name}!'

print(print_full_name('Lee', 'Tosti'))
print(print_full_name(last_name='Tosti', first_name='Lee'))

Hello Lee Tosti
Hello Lee Tosti

##### Default Parameters

In [76]:
def print_agent_name(first_name, last_name = 'Bond'):
    return f'The name is...{last_name}...{first_name} {last_name}'

print(print_agent_name('James'))
print(print_agent_name('Pussy', 'Galore'))

The name is...Bond...James Bond
The name is...Galore...Pussy Galore

In [79]:
#Type Casting
#specifying type in parameter. Does not change parameter type but allows you to use functions associated with that data type
def print_age(age: int):
    age = int(age)
    return f"Wow! You are {age} years old! That's awesome!"
print(print_age(25))

print(print_age('25'))

Wow! You are 25 years old! That's awesome!

##### Making an Argument Optional

In [81]:
#none default arguments first, followed by default arguments, must be in order based on arguement type
def horse_name(first, middle = '', last = ''):
    return f"Hello {first} {middle} {last}! Good luck in the race today!"

print(horse_name('Seabiscuit'))

Hello Seabiscuit  ! Good luck in the race today!

##### Keyword Arguments

In [82]:
def my_range(stop: int, start: int =0, step: int=1):
    for i in range(start, stop, step):
        print(i)

my_range(20, 1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# Creating a start, stop, step function

In [ ]:
def my_range(stop: int, start: int = 1):

##### Returning Values

In [84]:
#print does not equal return
#printing only displays an "output" in your terminal. It does not return any actual objects that are associated with the print() function

def print_arg(arg1, arg2):
    return arg1 + arg2

print_arg('String', '2').lower()

'string2'

##### *args

In [85]:
#It can take in any argument(s) as parameters
def print_args(num1, *args, **kwargs):
    print(num1)
    print(args)

    for arg in args:
        print(arg)
    
    for karg in kwargs:
        print(karg)

print_args(36, "Megazord", 'Mint Chocolate Chip', 2,3, testing = 'Joel')

36
('Megazord', 'Mint Chocolate Chip', 2, 3)
Megazord
Mint Chocolate Chip
2
3
testing

##### Docstring

In [86]:
def print_names(name_list):
    """
    Function name: print_names
    Input: list object, containing stirngs of names
    Output: Print each name in a list given.

    How does it work?: Function requires a list to be passed into it, then iterates through the list, printing each name out when completed.
    """
    for name in name_list:
        print(name)

help(print_names)

Help on function print_names in module __main__:

print_names(name_list)
    Function name: print_names
    Input: list object, containing stirngs of names
    Output: Print each name in a list given.

    How does it work?: Function requires a list to be passed into it, then iterates through the list, printing each name out when completed.

##### Using a User Function in a Loop

In [102]:
def print_input(answer: str):
    print(answer)

response = input('Are you ready to quit? Y/N')

while True:
    ask = input('What do you want to do today?')
    print_input(ask)

    response = input('Ready to quit yet? Y/N')
    if response.lower() =='y':
        break

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [100]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

#Method 1: Utlizies base python, with no additonal fucntionality:
def method_1(f, l):
    n = []
    for index in range(len(f)):
        n.append(f[index] + " " + l[index])
    return n
method_1(first_name, last_name)

#method 2: Refactor into a single line of code, but better functionality:
def method_2(f, l):
    n =[]
    for first, last in zip(f,l):
        n.append(first + ' ' + last)
        return n

#method_3
def method_3(f,l):
    return[first + ' ' + last for first, last in zip(f,l)]
print(method_3(first_name, last_name))

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

In [95]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
if len(first_name)==len(last_name):
    n = []
    for i in range(len(first_name)):
        n.append(first_name[i], last_name[i])
else:

John Smith
Evan Smith
Jordan Williams
Max Bell

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [101]:
num = 2 #Global Variable

def fun_num():
    print(num) #Referencing global variable, or global scope
    num_new = 6 #Localized variable. This is now associated with my function an can only be accessed within the scope of that function
    print(num_new)
fun_num()
print(num)

2
6
2